<div class="col-md-6">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-spacemanOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-how-to-play" aria-expanded="true" aria-controls="panelsStayOpen-how-to-play">
        How to play?
      </button>
    </h2>
    <div id="panelsStayOpen-how-to-play" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-spacemanOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>The journey of a lifetime begins - Win a trip to space when Spaceman hits 1 billion streams!</p>
        <p>Earn points and win a trip to space while you help us get to 1 billion streams by playing the different quests below. The more points you earn, the more entries you will receive for the draw of the grand prize. Keep in mind, you can play some of the quests as many times as you like!
        <%= link_to "Terms", "javascript:void();", "data-bs-toggle": "modal", "data-bs-target": "#terms", class: "terms-link" %></p>
        <h5>POINT SYSTEM</h5>
        <div class="point-data">
          <div class="point-card">
            <div class="total-point">
              <p>10</p>
              <span>pts</span>
            </div>
            <div class="point-summ">
              <p>Share invitation to friends by email</p>
              <p>(unlimited but an email-address will only register 1 time)</p>
            </div>
          </div>
          <div class="point-card">
            <div class="total-point">
              <p>100</p>
              <span>pts</span>
            </div>
            <div class="point-summ">
              When one of your invitees registers for the Spaceman Challenge
            </div>
          </div>
          <div class="point-card">
            <div class="total-point">
              <p>200</p>
              <span>pts</span>
            </div>
            <div class="point-summ">
              Sharing the "Spaceman Challenge" memes in social media 
            </div>
          </div>
          <div class="point-card">
            <div class="total-point">
              <p>500</p>
              <span>pts</span>
            </div>
            <div class="point-summ">
              For each comment on "Spaceman - Lyric Video" on YouTube with your Spaceman Challenge username
            </div>
          </div>
          <div class="point-card">
            <div class="total-point">
              <p>1 000</p>
              <span>pts</span>
            </div>
            <div class="point-summ">
              For each complete YouTube view
            </div>
          </div>
          <div class="point-card">
            <div class="total-point">
              <p>2 500</p>
              <span>pts</span>
            </div>
            <div class="point-summ">
              Catch a glimpse of us on tour and scan the QR-code on our tour bus
            </div>
          </div>
          <div class="point-card">
            <div class="total-point">
              <p>5 000</p>
              <span>pts</span>
            </div>
            <div class="point-summ">
              Come to our show and scan the QR-code at the merch booth
            </div>
          </div>
          <div class="point-card">
            <div class="total-point">
              <p>10 000</p>
              <span>pts</span>
            </div>
            <div class="point-summ">
              Make your own "Spaceman Challenge"-video and post in social media; do anything funny while in an astronaut- or alien-costume, and link the song in the clip and tagging @supremeunbeing
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>