<div class="modal fade" id="terms" tabindex="-1" aria-labelledby="termsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body">
        <ul>
          <li>- This competition ("Spaceman Challenge" or "challenge") is open for everyone on Earth, and beyond, who is over the age of 18 (or equivalent in otherworldly-terms)</li></br>

          <li>- No charge is to be paid to Spaceman Challenge, Supreme Unbeing or any company or individual affiliated with the Spaceman Challenge or Supreme Unbeing</li></br>

          <li>- Spaceman Challenge is organized by Supreme Unbeing. Supreme Unbeing is thus controller of the personal data according to GDPR that is collected in order for you to take part in the competition</li></br>

          <li>- You participate in the challenge by free will and at your own risk, meaning Spaceman Challenge, Supreme Unbeing or any company or individual affiliated with Spaceman Challenge or Supreme Unbeing can not be held accountable for any type of liability, damage, loss or death that you may suffer due to your participation in the Spaceman Challenge or any of the activities you may carry out to take part in the Spaceman Challenge, or activities related to the prize</li></br>

          <li>- You may only register one account, creation of multiple accounts will disqualify you from the competition</li></br>

          <li>- When the single "Spaceman" by Supreme Unbeing reaches 1 billion qualified streams/views the top 10 competition participants (meaning the the 10 participants with the most points) will receive a final challenge, of which one winner will be decided. The winner will receive a ticket to fly in a "tourism spacecraft" that launches into space. The choice of "tourism spacecraft" will be at the discretion of the organizers of Spaceman Challenge. No cash prize is offered and the ticket can not be substituted for a cash payout.</li></br>

          <li>- The ticket price for the seat on the "tourism spacecraft" can not exceed 2/10 of the qualified royalties paid out to Supreme Unbeing for the single during the competition term</li></br>

          <li>- The winner is responsible for all other costs related to getting to and from the "tourism spacecraft" such as travel and accommodation and any other personal expenses</li></br>

          <li>- All or any taxes that the winner may be subjected to due to local laws are fully payable by the winner</li></br>

          <li>- Only qualified streams of the single "Spaceman" by Supreme Unbeing distributed by DistroKid, or qualified views of the video "Spaceman - Lyric Video" by Supreme Unbeing on Supreme Unbeing's YouTube will be recognized as a stream when the corresponding royalty has been paid out by DistroKid. In other words, fake streams/views that do not qualify for royalties will not be accounted for.</li></br>

          <li>- Be aware that the single may never reach 1 billion qualified streams/views, or may take a very long time to do so. If the single does not reach 1 billion qualified streams/views within 3 years the competition will close without recognizing a winner.</li></br>

          <li>- If any dispute will arise towards the challenge that will impact the challenge, or Supreme Unbeing or any company or individual affiliated with Spaceman Challenge or Supreme Unbeing the organizer can terminate this competition prematurely by sending a notice to the participants, in such an unfortunate case no winner will be decided.</li></br>

          <li>- The organizer may update these terms if the organizer deems it to be legally necessary</li></br>
        </ul>
      </div>
    </div>
  </div>
</div>